<h3>Accueil</h3>
<p #monpagraphe  #madirective="appHighlight" appHighlight="green">Bienvenue</p>
{{madirective.lastTime}} / {{madirective.totalTime}}

<table>
  <tr>
    <td>0.23654556|currency</td>
    <td>{{0.23654556 | currency}}</td>
  </tr>
  <tr>
    <td>0.23654556 | number '.2-4'</td>
    <td>{{0.23654556 | number: '.2-4'}}</td>
  </tr>
  <tr>
    <td>0.2 | number '.2-4'</td>
    <td>{{0.2 | number: '.2-4'}}</td>
  </tr>
  <tr>
    <td>promesseDe4 | async</td>
    <td>{{ promesseDe4 | async | null : 0 : 7}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
