<p>
  change-detection works!
</p>
<app-change-detector name="A">
  <app-change-detector name="A-1"></app-change-detector>
  <app-change-detector name="A-2"></app-change-detector>
</app-change-detector>
<app-change-detector name="B" #b>
  <app-change-detector name="A-1"></app-change-detector>
  <app-change-detector name="A-2"></app-change-detector>
</app-change-detector>

<button (click)="b.detach()">Détacher B</button>

<app-nochange-detector name="C">
  <app-change-detector name="C-1"></app-change-detector>
  <app-change-detector name="C-2"></app-change-detector>
</app-nochange-detector>
