<h3>Index des voitures</h3>
<div *ngIf="voitures;else waiter;">
  <ul>
    <li *ngFor="let v of voitures">
      <a routerLink="/voiture/{{v.id}}">{{v.marque | uppercase}} - {{v.modele}} {{v.dateConstruction | date: 'dd/MM/yyyy hh:mm:ss'}}</a>
    </li>
  </ul>
</div>
<app-voiture-item *ngFor="let v of voitures" (select)="gotoVoiture(v)" [voitureAffichee]="v"></app-voiture-item>
<ng-template #waiter>
  <div class="alert alert-warning" role="alert">
    Chargement en cours...
  </div>
</ng-template>

